* {
    box-sizing: border-box;
    margin: 0%;
}

body{
    cursor: pointer;
    font-family: 'Ubuntu';
    /* background-color: rgb(172, 121, 55); */
}
.header{
    justify-content: space-between;
    /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto; */
    background-color:#313c4e;
    display: flex;
  
    /* height: 20vw; */
   
    /* height: 10vw; */
}

.picture{
    
}
.picture img{
    height:60vw;
    width:50vw;
    float: right;
    /* margin: 0%; */
    /* border-radius: 20%; */
}
.sect{
    display: block;
    align-items: center;
    text-align: center;
    border: 1px red;
    margin:10vw 0vw 0vw 3vw;
 
    
}
 .hi {
    margin-top: 5vw;
    text-align: center;
    color:white;
    font-family: 'Libre Baskerville', serif; 
    font-size: 5vw;
    font-weight: 300;
}

.name{
    
    color:white;
    font-family: 'Signika', sans-serif;
    font-size: 2.5vw; 
}

.job{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 2vw;
    margin-top: 2vw;
    /* text-underline-offset: 0.5vw; */
    /* text-align: center;
    font-weight:350;
    font-style: normal; */
    /* text-decoration: underline; */
} 
/* .describe{
color: white;    
padding-top:9%;
text-align: center;
} */
.abt{
    text-align: center;
    font-size: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-color: #313c4e;
}
.abt strong{
    color:black;
    text-decoration: underline;
    font-family: 'Ubuntu';
    font-size:2vw;
    font-weight: 500;
}
.column p span{
    font-style: italic;
    text-decoration: dashed;
}
.column {
    float: left;
    /* height: 27vw; */
    width: 50%;
    padding: 0%;
    /* color: #ffffff; */
   
}
.row .column{
    /* background-color: #313c4e; */
    
}
.column:first-child {
    /* background-color: yellow; */
    /* border-right: 1px solid black; */
  }
 .column:nth-child(2) {
    /* background-color: rgb(145, 103, 27); */
   /* border-right: 1px solid #dddddd */
  }





@media screen and (max-width: 780px) {
    .column{
      width: 100%;
      border: none;
    }
    .column:first-child {
        /* background-color: #524c3f; */
        background-color: #425c4f;
       /* border-right: 1px solid #dddddd */
      }
    .column:nth-child(2) {
        background-color: #413c4f;
       /* border-right: 1px solid #dddddd */
      }
}

.projects{
    font-size: large;
    margin-top: 30vw;
  
}
.projects strong{
    font-size: 2vw;
    color:black;
    
    font-family: 'Ubuntu';
    
    font-weight: 500;
}
.to-do img{
    float: left;
    width:35vw;
    height: 22vw;
}



    


.project-name a{
    color: black;
    text-decoration: none;
    font-size: 2vw;
}
.to-do::after ,.sign::after,.tic::after{
    content: "";
    clear: both;
    display: table;
}
  

.to-do a, .tic a, .sign a{
    color:black;
    text-decoration: underline;
    font-family: 'Ubuntu';
    font-size:1.5vw;
    font-weight: 500;
   
}
.to-do-desc{
    font-size: 1.5vw;
    font-family: "Ubuntu";
}
.to-do-desc2{
    margin-top:2%;
    font-size:1.5vw;
    font-family: "Ubuntu";
    color: black;
    
}
.to-do-list {
    font-size: 1.5vw;
    font-family: "Ubuntu";
    color: black;
}
.to-do-desc span{
    font-size: 1.5vw;
    font-family: "Ubuntu";
    color: #313c4e;
    font-style: italic;
}
/* sign */
.sign img{
    float: right;
    width:40vw;
    height: 25vw;
}

.sign-desc{
    font-size: 1.5vw;
    font-family: "Ubuntu";
}
.sign-desc span{
    font-size: 1.5vw;
    font-family: "Ubuntu";
    color: #313c4e;
    font-style: italic;
}
.sign-desc2{
    margin-top:2%;
    font-size: 1.5vw;
    font-family: "Ubuntu";
    color: black;
    
}
/* tic */
.tic img {
    float: left;
    width:35vw;
    height: 32vw;
    
}

.tic .tic-desc{
    font-size: 1.5vw;
    font-family: "Ubuntu";
}
.tic-desc span{
    font-size:1.5vw;
    font-family: "Ubuntu";
    color: #313c4e;
    font-style: italic;
}
.tic-desc2{
    margin-top: 5%;
    font-size: 1.5vw;
    font-family: "Ubuntu";
    color: black;
    
}

.button {
    background-color: #313c4e;
    font-family: "Ubuntu";
    border-radius: 0.5vw;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 2.8vw;
    font-weight: 500;
    outline: none;
    margin-top: 2%;
      
}
.button:hover{
    font-size: 3.2vw;
    
}

@media screen and (max-width: 480px) {
    .projects{
      width: 100%;
    }
}
.hobbies{
   background-color: rgb(158, 142, 142);
   justify-content: center;
   
}

.hobbies strong{
    font-size: 2vw;
    font-family: 'Trocchi', serif;
    margin-left: 3vw;
}
.interest li{
    font-size: 1.5vw;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }
.footer a{
    color:black;
}
.footer svg{
    color: rgb(162, 173, 170);
    height: 3vw;
    padding: 0.4%;
    cursor: pointer;
    
}

.footer svg:hover{
    color: brown;

}
@media screen and (max-width: 480px) {
    .svg{
      width: 100%;
    }
}
#myBtn {
    position: bottom;
    
    float: right;
    max-width: 5vw;
    text-decoration: none;
    width: 100%;
    border: none;
    background-color: white;
    padding: .3vw;
   

}
#myBtn a{
    color:#313c4e;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-size: 2vw;
}
/*On Hover Color Change*/
#myBtn:hover {
    background-color: #7dbbf1;
}