* {
    box-sizing: border-box;
    margin: 0%;
}
body{
    background-color: rgb(172, 121, 55);
}
.header{
    background-color:#313c4e;
    /* height: 20vw; */
   
    /* height: 10vw; */
}
/* .pic img{
    height:10vw;
    width:10vw;
    border-radius: 20%;
} */
.name {
    text-align: center;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5vw;
    /* font-weight: 300; */
   
}
.job{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 2vw;
    text-underline-offset: 0.5vw;
    text-align: center;
    font-weight:350;
    font-style: normal;
    text-decoration: underline;
}
.describe{
color: white;    
padding-top:2%;
}
.abt{
    text-align: center;
    font-size: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-color: #313c4e;
}
.column p span{
    font-style: italic;
    text-decoration: dashed;
}
.column {
    float: left;
    /* height: 27vw; */
    width: 33.3333%;
    padding: 0%;
   
}
.column:first-child {
    background-color: yellow;
  }
.column:nth-child(2) {
    background-color: red;
  }

.column:nth-child(3){
    background-color: yellow;
  }



@media screen and (max-width: 780px) {
    .column{
      width: 100%;
    }
}

.projects{
    font-size: large;
    margin-top: 30vw;
    
    
}

.library .project-name, .tic .project-name, .restaurant .project-name{
    color:red;
    
    font-family: 'Times New Roman', Times, serif;
    font-size:2vw;
    font-weight: 100;
   
}
@media screen and (max-width: 480px) {
    .projects{
      width: 100%;
    }
}
.hobbies strong{
    font-size: large;
    font-family: 'Trocchi', serif;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }
 .footer svg
 {
    color: rgb(162, 173, 170);
    height: 3vw;
    padding: 0.4%;
    cursor: pointer;
    
 }

.footer svg:hover{
    color: brown;
    height: 3.5vw;
}
@media screen and (max-width: 480px) {
    .svg{
      width: 100%;
    }
}